body {
  display: flex;
  justify-content: center;
  background-color: #b6b6be;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.calc-container {
  display: flex;
  justify-content: center;
  background-color: #c0c0c0;
  width: 80%;
  margin-top: 50px;
  max-width: 300px;
  min-width: 220px;
  padding: 10px;
  padding-top: 40px;
  border-style: outset;
  border-color: rgb(247, 242, 242);
  box-shadow: 4px 4px rgb(78, 78, 78);
}

.head {
  display: flex;
  margin-top: -30px;
  margin-bottom: 30px;
  background-color: #000080;
  padding: 4px;
  border-radius: 3px;
  gap: 5px;
}

.headText {
  color: white;
  flex: 1;
}

.headBtn {
  background-color: #c0c0c0;
  width: 15px;
  text-align: center;
  height: 15px;
  border-width: thin;  
  border-style: outset;
  font-weight: bold;
  
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.display {
  display: flex;
  background-color: white;
  border-style: inset;
  justify-content: end;
  font-size: 16px;
  padding: 5px;
  height: 20px;

}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}

button {
  width: 15%;
  aspect-ratio: 1;
  border-color: rgb(240, 233, 233);
  background-color: #c0c0c0;
  box-shadow: 1px 1px black;
}

button:hover {
  background-color: #c9c9c9;
}

button:active {
  box-shadow: none;
}

.memory {
  flex: 1;
  display: flex;
  color: #8d2626;
  background-color: green;
  margin-right: 10px;
  min-width: 35px;
}

.square {
  flex: 1;
  display: flex;
  aspect-ratio: 2/1;
  margin-right: 63px;
  background-color: #c0c0c0;
  border-style: inset;
  border-width: 2px;
  border-color: rgb(216, 215, 215);
  min-width: 30px;
  
}

.memory button {
  width: 100%;
  font-weight: 500;
}

.btnBrown {
  aspect-ratio: 2/1;
  width: 20%;

}

.columns {
  display: flex;
  justify-content: flex-end;
  gap: 4px;;
}

.btnBrown {
  color: #8d2626;
  font-weight: bold;
}

.btnBlue {
  color: blue;
  font-weight: bold;
}

.btnBlue2 {
  color: #000080;
  font-weight: bold;
}

.btnRed {
  color: red;
  font-weight: bold;
}